* {
  box-sizing: border-box;
}

.contaner {
  display: grid;
  grid-template-columns: 200px 200px 200px 200px;
  grid-template-rows: 200px 200px 200px 200px;
  row-gap: 5px;
  column-gap: 5px;
}
.div1 {
  background-color: aqua;
  grid-column: 1/3;
}
.div2 {
  background-color: brown;
  grid-column: 1/3;
}
.div3 {
  background-color: blueviolet;
}
.div4 {
  background-color: orangered;
  grid-row: 2/4;
}
.div5 {
  background-color: blue;
  grid-row: 2/4;
}
.div6 {
  background-color: olive;

  grid-row: 2/4;
}
.div7 {
  background-color: orange;
  grid-row: 2/4;
}
.div8 {
  background-color: darkred;
  grid-column: 1/3;
}
